.btn-primary {
    background-color: #78D44D;
    border-color: #78D44D;
}

.btn-primary:hover {
    background-color: #63AD3E;
    border-color: #63AD3E;
}

.text-primary {
    color: #78D44D !important;
}